<div class="chatbot-logo" (click)="toggleChatbot()" [ngClass]="{ 'pulse-animation': !isLogoClicked && !isOpen }">
  <i class="fas fa-comments"></i>
  <div class="chat-message">Hi! 👋🏻 How May I Help You Today?</div>
</div>

<div class="chatbot-popup" *ngIf="isOpen">
  <div class="header">
    <h4 class="title">
      <div class="logo-wrapper">
        <a href="https://earntv.io">
          <img src="/assets/logo.png" class="logo-icon" alt="Logo">
        </a>
        <div class="dot"></div>
      </div>
      EarnTV Chatbot
      <div class="status">Online</div>
    </h4>
    <div class="action-buttons">
      <button class="btn btn-link refresh-button" (click)="refreshChatbot()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button class="btn btn-link close-button" (click)="toggleChatbot()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="chatbot-body">
    <div class="chatbot-conversation" #chatbotConversation>
      <div *ngFor="let message of messages" class="chat-message"
        [ngClass]="{'bot-message': message.isBot, 'user-message': !message.isBot}">
        <div class="message-icon" [ngClass]="{'bot-icon': message.isBot, 'user-icon': !message.isBot}"></div>
        
        <ng-container *ngIf="!isLink(message.text); else linkTemplate">
          <span class="message-text">{{ message.text }}</span>
        </ng-container>

        <ng-template #linkTemplate>
          <div [innerHTML]="message.text"></div>
        </ng-template>
        
      </div>

      <!-- Quick reply buttons -->
      <div *ngIf="showQuickReplies" class="quick-reply-buttons-container">
        <div class="quick-reply-buttons">
          <button *ngFor="let reply of quickReplies" class="quick-reply-button" (click)="sendQuickReply(reply)">
            {{ reply }}
          </button>
        </div>
      </div>
    </div>

    <div class="chatbot-input">
      <input type="text" [(ngModel)]="inputMessage" class="form-control text-primary" placeholder="Type your message..."
        (keydown.enter)="sendMessage()">
      <button class="btn btn-success" (click)="sendMessage()">Ask</button>
      <button class="btn btn-primary" (click)="openMovieDialog()">Open Movie Dialog</button>
    </div>
  </div>
</div>